<ion-view view-title="Analytics">
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-refresh" ng-disabled="loading" ng-click="refresh(true)"></a>
        <a class="button button-icon button-clear ion-plus-round" ng-disabled="loading" ng-click="addVenue()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="text-center padding" ng-if="loading"><ion-spinner></ion-spinner><p>Loading...</p></div>
        <div ng-if="!loading" class="padding">
            analytics
        </div>
    </ion-content>
</ion-view>
