<ion-view view-title="{{municipality.name}}">
    <ion-nav-buttons side="left">
        <a href="#/country/{{state.country.objectId}}/state/{{state.objectId}}" class="button button-icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a ng-click="import()" class="button button-icon ion-ios-upload-outline" ngf-select="upload($files)" ngf-multiple="false" ng-model="states" name="file" ngf-pattern="'text/csv'"
    ngf-accept="'text/csv'" ng-disabled="loading || loadingStates">Import Settlings</a>
    </ion-nav-buttons>
    <ion-content delegate-handle="countryScroll">
        <div class="text-center padding" ng-if="loading"><ion-spinner></ion-spinner><p>Loading Municipality...</p></div>
        <div ng-if="!loading && municipality">
            <div class="row">
                <div class="col">
                    <form class="card" ng-submit="save()">
                        <div class="item" ng-if="state">
                            <h2>Municipality Details</h2>
                        </div>
                        <label class="item item-input item-stacked-label" ng-if="municipality">
                            <span class="input-label">Name</span>
                            <input type="text" value="{{municipality.name}}" ng-model="municipality.name" required/>
                        </label>
                        <div class="item" ng-if="!saving && municipality">
                            <button class="button button-positive button-block" type="submit" ng-disabled="saving">Save Changes</button>
                        </div>
                        <div class="item text-center" ng-if="saving && municipality">
                            <ion-spinner></ion-spinner> Saving
                        </div>
                        <div class="item assertive" ng-if="error">
                            <h2>Error</h2>
                            <p>{{error}}</p>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="item">
                            <h2>Settlimgs ({{municipality.settlings.length}})</h2>
                        </div>
                        <div class="text-center item" ng-if="loadingMunicipalities"><ion-spinner></ion-spinner><p>Loading Settlings</p></div>
                        <ion-item ng-repeat="settling in municipality.settlings" ng-if="!loadingSettlings && !settlingsError" class="item-button-right" ng-click="goSettling(settling.objectId)">
                            <h2 class="positive">{{settling.name}}</h2>
                            <button type="button" class="button button-clear button-positive button-icon ion-chevron-right"></button>
                        </ion-item>
                        <div class="item positive" ng-if="!loading && !loadingSettlings && municipality.settlings.length == 0">
                            <p>No settlings found, please add one or try the import tool.</p>
                        </div>
                        <div class="item assertive" ng-if="settlingsError">
                            <h2>Error</h2>
                            <p>{{citiesError}}</p>
                        </div>
                        <div class="item">
                            <button class="button button-positive button-block" type="button" ng-click="addSettling()"><i class="icon ion-earth"></i> Add Settling</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
