<ion-view view-title="Graphics" id="venue-graphics">
    <ion-content>
        graphics
    </ion-content>
    <ion-footer-bar class="bar-stable">
        <div class="buttons" ng-if="canSave">
            <button class="button button-assertive" ng-click="cancel()"> Cancel</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-icon ion-upload icon-left" ng-click="save()" ng-disabled="!canSave"> Save</button>
        </div>
    </ion-footer-bar>
</ion-view>
