<ion-view view-title="{{model.displayName}}" id="venue-product">
  <ion-nav-buttons side="left">
    <a ui-sref="venue.products" class="button button-icon ion-ios-arrow-back" ng-disabled="saving"></a>
  </ion-nav-buttons>
  <ion-content>
    <div id="import-drop" class="container row" style="background-image:url({{model.cover ? (model.cover.file ? model.cover.file.url : model.cover) : ''}})">
        <button ng-if="model.cover" type="button" class="button button-small margin-a top right absolute positioned" ng-click="removeCover()"><i class="icon ion-close"></i> Remove Cover</button>
        <div class="col col-center text-center">
            <div class="button button-stable button-small"
                ngf-select="uploadCover($files)"
                ngf-multiple="false"
                ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="5MB" ngf-min-width="600"
                ngf-resize="{width: 600, height: 600}">Upload Cover Picture</div>
            <button class="button button-light button-small" type="button">
                <i class="icon ion-link"></i> Use URL instead
            </button>
            <a class="button button-small" href="{{model.cover ? (model.cover.file ? model.cover.file.url : model.cover) : ''}}" target="_blank" ng-if="model.cover">View Cover</a>
        </div>
    </div>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Display Name</span>
        <input type="text" ng-model="model.displayName" required/>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Slug</span>
        <input type="text"ng-model="model.slug" required ng-change="model.slug = slugify(model.slug)" ng-model-options="{debounce: 500}"/>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Price</span>
        <input type="number"ng-model="model.price" required min="0"/>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Stock</span>
        <input type="number"ng-model="model.stock" required min="0"/>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Unit Description</span>
        <input type="text" ng-model="model.unitType" required placeholder="E.g. A box of 12 cans"/>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Product Description</span>
        <textarea ng-model="model.description" required placeholder="Enter product description"></textarea>
    </label>
    <label class="item item-stacked-label">
        <span class="input-label">Keywords</span>
        <tags-input ng-model="model.keywords" required></tags-input>
        <p>Type a keyword and hit enter to add it</p>
    </label>
    <div class="item item-toggle">
        Active
        <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="model.active">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons" ng-if="canSave">
      <button class="button button-assertive" ng-click="cancel()" ng-disabled="!canSave">Cancel</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon ion-upload icon-left" ng-click="save()" ng-disabled="!canSave"> Save</button>
    </div>
  </ion-footer-bar>
</ion-view>
